{% extends 'base.html' %}
{% load static %}
{% comment %} {% load cart_tag %} {% endcomment %}
{% block content %}

<!-- about section start -->
<div class="about_section layout_padding" style="margin-top: 80px;">
    <div class="container d-flex">
        <div style="text-align: auto; ">
            <h1 style="font-size: 3rem;" class="about_taital">About Style</h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p class="about_text">Style refers to the visual and aesthetic elements of a design or user interface. It includes aspects such as typography, color schemes, layout, and graphics, which are used to create a cohesive and visually appealing look and feel. Effective use of style can help enhance the user experience and convey a brand's personality or message.</p>
        <div>
        </div>
          <img src="{% static 'img/ab1.jpg' %}" style="width: 600px;">
       </div>
    </div>
 </div>
 <!-- about section end -->


 <!-- Vendor Start -->
 
<!-- Vendor End -->


{% endblock %}