
{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}



{% if request.session.cart|length == 0 %}
<div style="flex-direction: column; text-align: center;">
    <img src="{% static 'img/emp_cart.jpg' %}" style="width: 650px;">
    <h2>No item Found Go to Shop Page <a href="{% url 'shop' %}">Shop</a></h2>
</div>
{% else %}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                   
                    {% for key,value in request.session.cart.items %}
                    <tr>
                        <td class="align-middle"><img src="{{value.image}}" alt="" style="width: 50px;"> {{value.name}}</td>
                        <td class="align-middle">{{value.price}}</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                {% if value.quantity > 1 %}
                                <div class="input-group-btn">
                                    <a href="{% url 'item_decrement' value.product_id %}" class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                                {% else %} 
                                <div class="input-group-btn">
                                    <a href="{% url 'item_clear' value.product_id %}" class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                                {% endif %}
                                <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{value.quantity}}">
                                <div class="input-group-btn">
                                    <a href="{% url 'item_increment' value.product_id %}" class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">₹{{ value.price|multiply:value.quantity|floatformat:2 }}</td>

                        <td class="align-middle"><a href="{% url 'item_clear' value.product_id %}" ><i class="fa fa-trash"></i>Remove</a></td>
                    </tr>
                    {% comment %} {{value.price|multiply:value.quantity}} {% endcomment %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div style="color:black;font-size: 16px;font-weight: bolder;">Product name</div>
                    <div style="color:black;font-weight: bolder;float: right;margin: -25px 0px 0px 0px;">Price</div>
                    <br/>
                    {% for key,value in request.session.cart.items %}
                    <div class="d-flex justify-content-between mb-3">
                       
                        <p class="text-decoration-none text-truncate" style="color:#FFD333; width:10rem;">{{value.name}}</p>
                        
                        
                        <h6>₹{{ value.price|floatformat:2|multiply:value.quantity|floatformat:2 }}</h6>

                    </div>
                    {% endfor %}
                   
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mb-2">
                        <h6>Total</h6>
                        <h6>₹{{total|floatformat:2}}</h6>
                    </div>
                    <a href="{% url 'CheckoutViews' %}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
{% endif %}

{% endblock %}