{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'mainpage' %}">Home</a>
                    <span class="breadcrumb-item active">Change Password</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

 <!-- Contact Start -->
 <div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Change password</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" method="POST">
                    {% csrf_token %}
                   
                    <div class="control-group">
                        <label>Enter Your Old Password</label>
                        {{form.old_password}}
                        {{form.old_password.errors}}
                          <!-- <input type="text" class="form-control" name="username" id="name" placeholder="Your Email"
                            required="required" data-validation-required-message="Please enter your Email" />
                        <p class="help-block text-danger"></p>  -->
                    </div>
                    
                    <div class="control-group">
                        <label>Enter Your New Password</label>
                        {{form.new_password1}}
                        {{form.new_password1.errors}}
                        <!-- <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                            required="required" data-validation-required-message="Please enter your password" />
                        <p class="help-block text-danger"></p> -->
                    </div>

                    <div class="control-group">
                        <label>Enter Your New Confirm Password</label>
                        {{form.new_password2}}
                        {{form.new_password2.errors}}
                        <!-- <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                            required="required" data-validation-required-message="Please enter your password" />
                        <p class="help-block text-danger"></p> -->
                    </div>
                    
                    <div>
                        <button class="btn btn-danger py-2 px-4" type="submit" id="sendMessageButton">Update Your Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}