{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'mainpage' %}">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

 <!-- Contact Start -->
 <div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" method="POST">
                    {% csrf_token %}
                
                    <div class="control-group">
                        {{data.name}}
                        <!--  <input type="text" class="form-control" id="name" placeholder="Your Name"
                            required="required" data-validation-required-message="Please enter your name" /> -->
                        <p class="help-block text-danger"></p> 
                    </div>
                    <div class="control-group">
                        {{data.email}}
                        <!-- <input type="email" class="form-control" id="email" placeholder="Your Email"
                            required="required" data-vali` 5dation-required-message="Please enter your email" /> -->
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{data.subject}}
                        <!-- <input type="text" class="form-control" id="subject" placeholder="Subject"
                            required="required" data-validation-required-message="Please enter a subject" /> -->
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{data.msg}}
                        <!-- <textarea class="form-control" rows="8" id="message" placeholder="Message"
                            required="required"
                            data-validation-required-message="Please enter your message"></textarea> -->
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-danger py-2 px-4" type="submit" id="sendMessageButton">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <iframe style="width: 100%; height: 250px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.8685600006415!2d72.56940441486371!3d23.028597821881785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8459d01e25bb%3A0x54a614a043478473!2sChinubhai%20Tower%2C%20Hk%20Commerce%20College%2C%20Ashram%20Rd%2C%20Vishalpur%2C%20Ellisbridge%2C%20Ahmedabad%2C%20Gujarat%20380009!5e0!3m2!1sen!2sin!4v1680775438234!5m2!1sen!2sin"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-danger mr-3"></i>201, innovatewebtec, Ahmedabad</p>
                <p class="mb-2"><i class="fa fa-envelope text-danger mr-3"></i>info@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-danger mr-3"></i>07940041819</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}