{% extends 'base.html' %}
{% load static %}
{% comment %} {% load cart_tag %} {% endcomment %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'mainpage' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'UserOrder' %}">Order</a>
                    <span class="breadcrumb-item active">Your Order </span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            {% comment %} <th>ID</th> {% endcomment %}
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Date</th>
                            <th>Total Price</th>
                            <th>Payment Type</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for i in data %}
                        <tr>
                            {% comment %} <td>{{i.id}}</td> {% endcomment %}
                            <td>{{i.first_name}}</td>
                            <td>{{i.last_name}}</td>
                            <td>{{i.checkout_email}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.checkout_date}}</td>
                            <td>{{i.OrderPrice}}</td>   
                            <td>{{i.Payment_type}}</td>   
                            <td>{{i.Payment_status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

   
    {% endblock %}